body{
    font:20px 'Open Sans', sans-serif;
    font-weight: 300;
}
.wrapper{
    width:100%;

    display:flex;
    justify-content: center;
    align-items: center;
}
main{
    width:80%;
    height:90vh;
    margin: 10px auto;
    position: relative;
}
.main__h2{
    width:80%;
    font-size: 1.7em;
    font-weight: 300;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}