.row:nth-of-type(n+2){
	margin-bottom:70px;
}

.btn-social-icon.btn-lg{
	font-size:11px;
}
.btn-facebook, .btn-google, .btn-twitter{
	background-color:white;
	color:#f8cc33;
	border:1px solid white;
}
.btn-facebook:hover, .btn-google:hover, .btn-twitter:hover{
	background-color:#f8cc33;
	border:1px solid white;
	color:white;
}
.btn-lg{
	border-radius:50%;
}
/**/
.input-group-addon{
	background-color:rgba(255,255,255,1);	
	border-style:hidden;
}
.input-group-sm>.input-group-addon{
	padding:5px 8px 5px 10px;
	height:15px;
	margin:0;
}
.input-group-sm>input.form-control{
	border-style:hidden;
	font:16px  MyriadProRegular;
	color:#b8b8b8 ;
	box-shadow:none;
	padding:0;
}

.glyphicon{
	color:black;
}
.input-group.input-group-sm{
	border:1px solid #e5e5e5;
	width:237px;
	height:25px;
	box-sizing:border-box;
	border-radius:15px;
	overflow:hidden;
	left:20px;
}
.input-group-sm>.form-control:hover{
	border-color:#cecece;
	font-family:MyriadProBold;
}
.input-group:hover .glyphicon{
	color:#e3b002;
}
.input-group:focus .form-control{
	font-weight:normal;
}
a.navbar-brand{
	position: absolute;
	width: 100%;
	left: 0;
	top:0;
	text-align: center;
}
.navbar-toggle{
	z-index: 10;
}
nav.navbar *{
	border:none;
}