body{
    background:url(../img/BackGr_2a.jpg) no-repeat fixed;
    background-position: left top;
    background-size: 100% auto;
    font-family: 'Helvetica', sans-serif;
    color:rgb(5, 38, 204);
    padding:0;
}
*{
    box-sizing: border-box;
}
.zero{
    height:1px;
}
h2{
    text-align:right;
    font-weight:normal;
    font-size:42px;
    color: white;
    margin-left:100px;
    font-variant:small-caps;
}
header{
    font-family: 'Caveat', cursive;
    transition:all 0.5s ease;
    height:100vh;
    width:100vw;
    background-color: transparent;
    margin:0;
    position: relative;
    top:0;
    left:0;
    text-align: center;
    line-height: 75vh;
    padding:0 20vw;
    z-index: 10;
}
.anim{
    font-weight: bold;
    font-size: 45px;
    padding:20px calc(15% + 20px);
    width:100%;
    height:150px;
    margin: 0 auto;
    position: relative;
    background: url("../img/BackGr_2a.png") no-repeat, rgba(200,200,200,0.05) ;
    background-size: 100% auto;
    background-position: top left;
    line-height: 2em;
    position: fixed;
}
.anim>h2{
    color:#31D0F0;
}
article{
    padding:20px 20px;
    width:70%;
    height:100%;
    margin: 153px auto;
    position: relative;
    border:3px solid rgba(165, 42, 42, 0.2);
    display: none;
}
section{
    margin:auto;
    position:relative;
    color:#85350f;
    clear: both;
    overflow: hidden;
    height:100%;
    background-color:rgba(0, 51, 50,0.7);
    display: table;
    border:1px solid rgba(255, 255, 255, 0.4);
}
.plain-text{
    padding:20px 3px;
    display: table-cell;
    vertical-align: middle;
    background-color:rgba(142, 144, 209,0.8);
    text-align:center;
    width:100%;
    height:100%;
}
div.plain-text.text60{
    text-align:right;
    margin-left: 40%;
    width:60%;
    min-height:300px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}
div.text60.textLeft{
    text-align:left;
    margin-right: 40%;
    margin-left: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.left, .right{
    width:40%;
    position:absolute;
    top:5%;
    left:0;
    height: 90%;
    text-align: center;
    padding:10px;
    overflow: hidden;
}
.right{
    left:60%;
}
img{
    max-width:90%;
    height:auto;
    max-height: 200px;
    margin:5px auto;
    display:block;
    position:relative;
    top:50%;
    transform: translateY(-50%);
    border-radius: 3px;
}
footer{
    position: fixed;
    display: none;
    bottom:10vh;
    left:48vw;
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: rgba(0, 51, 50,0.4);
    z-index:15;
}
footer a{
    display:block;
    width:100%;
    height:100%;
    color:rgb(0, 51, 50 );
    font-size: 25px;
    text-decoration: none;
    padding:5px 0 0 18px;
}